@font-face {
    font-family: FixelText;
    src: url(../fonts/FixelText-Medium.ttf), url(../fonts/FixelText-Regular.ttf), url(../fonts/FixelText-SemiBold.ttf);
    font-weight: 500, 400, 700;
}

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');