@font-face {
    font-family: FixelText;
    src: url(../fonts/FixelText-Medium.ttf), url(../fonts/FixelText-Regular.ttf), url(../fonts/FixelText-SemiBold.ttf);
    font-weight: 500, 400, 700;
}

@font-face {
    font-family: Jost;
    src: url(../fonts/Jost-Medium.ttf), url(../fonts/Jost-Regular.ttf), url(../fonts/Jost-SemiBold.ttf);
    font-weight: 500, 400, 700;
}