/* fonts */
@import url(./fonts.css);

/* key frames */
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOutWithDisplay {
    0% {
        opacity: 1;
        display: flex;
    }

    99% {
        opacity: 0;
        display: flex;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

/* variables */
:root {
    --activeLink: #ff5252;
    --hoverBtn: #5b24c9;
    --primaryBtn: #212121;
    --primaryBtnLightened: #212121E6;
    --containerPadding: 48px;
    --containerWidth: calc(100% - 96px);
    --FixelText: FixelText, sans-serif;
    --Jost: Jost, sans-serif;
    --borderColor: #ebebeb;
    --light: #fff;
    --disActiveColor: #8f8f8f;
    --secondaryBg: #FAFAFA;
    --lightText: #a6a2a2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    transition: all .25s ease;
}

/* fallbacks */

div.fallBack {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 900;
    background-color: #00000080;
    left: 0;
    top: 0;
}

div.fallBack.hide {
    display: none;
}

/* header starts */
/* top of header */
div.headerContainer {
    display: flex;
    width: 100%;
    background-color: var(--light);
    padding-left: var(--containerPadding);
    padding-right: var(--containerPadding);
    font-size: 14px;
    font-family: var(--Jost);
    height: 40px;
    align-items: center;
    border-bottom: 1px solid var(--borderColor);
}

a.headerAds {
    flex-grow: 1;
    display: flex;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    color: var(--primaryBtn);
}

a.headerAds:hover {
    color: var(--hoverBtn);
}

a.headerAds.headerBeauty {
    justify-content: flex-end;
}

a.headerAds.headerAd {
    justify-content: flex-start;
}

ul.headerMenu {
    justify-content: center;
    flex-grow: 2;
    display: flex;
    grid-area: 5px;
    align-items: center;
    list-style: none;
    height: 100%;
}

ul.headerMenu>li {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 100%;
}

ul.headerMenu>li>a {
    text-decoration: none;
    font-weight: 100;
    color: var(--primaryBtn);
}

ul.headerMenu>li>a:hover {
    color: var(--hoverBtn);
}

ul.headerMenu>li>a.active {
    color: var(--activeLink);
}

/* rest of header */
div.header {
    width: 100%;
    padding-left: var(--containerPadding);
    padding-right: var(--containerPadding);
    height: 86px;
    padding-top: 18px;
    background-color: var(--light);
}

div.header>header {
    height: 100%;
}

div.headerTop {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    position: relative;
}

div.headerTop * {
    transition: none !important;
}

a.headerLogo {
    display: flex;
    align-items: center;
    flex-grow: 2;
    height: 100%;
    justify-content: center;
}

a.headerLogo>img {
    height: 52px;
    width: auto;
}

div.headerBottom {
    width: 100%;
    height: 56px;
    padding-top: 16px;
    background-color: var(--light);
    position: relative;
    z-index: 5;
}

ul.hB-Menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    z-index: 5;
}

ul.hB-Menu>li {
    padding: 8px 0;
    flex-grow: 1;
    height: 100%;
}

ul.hB-Menu>li:nth-last-child(1) {
    flex-grow: 0;
}

ul.hB-Menu>li>a {
    font-weight: 400;
    text-decoration: none;
    color: var(--primaryBtn);
    font-family: var(--FixelText);
    width: 100%;
    height: 100%;
    display: block;
}

ul.hB-Menu>li>a:hover {
    color: var(--hoverBtn);
}

/* search box container */

div.search {
    flex-grow: 1;
}

div.searchContainer {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
    z-index: 999;
    height: 100%;
    align-items: center;
    padding: 0 20px 0 10PX;
    gap: 20px;
    color: var(--primaryBtn);
    background-color: var(--light);
}

div.searchContainer.hide {
    position: static;
    width: auto;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    align-items: center;
    z-index: 1;
    flex-grow: 1;
}

div.searchContainer>i {
    font-size: 22px;
    cursor: pointer;
    color: var(--primaryBtn);
}

div.searchContainer>i.hide {
    display: none;
}

div.searchContainer>input {
    flex-grow: 1;
    background-color: transparent;
    border: unset;
    outline: unset;
    font-size: 16px;
    font-family: var(--Jost);
    padding-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}

div.searchContainer>input.hide {
    display: none !important;
}

/* login container */

div.login-cart {
    gap: 20px;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    position: relative;
}

div.login-cart>i {
    font-size: 22px;
    cursor: pointer;
    color: var(--primaryBtn);
}

div.loginContainer {
    display: none;
}

div.loginContainer.show {
    position: absolute;
    z-index: 901;
    top: 100%;
    right: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 50px;
    gap: 20px;
    font-family: var(--Jost);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color: var(--light);
    min-width: 325px;
    max-width: 80vw;
}

div.loginContainer.show>form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

div.loginContainer.show>form>div {
    position: relative;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-top: 10px;
}

div.loginContainer.show>form>div>input {
    padding: 8px 24px 8px 0;
    background-color: transparent;
    border: unset;
    outline: unset;
    line-height: 1;
    height: max-content;
    width: 100%;
}

div.loginContainer.show>form>div::before {
    content: "";
    z-index: 902;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--borderColor);
}

div.loginContainer.show>form>div::after {
    content: "";
    z-index: 903;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    height: 2px;
    background-color: var(--hoverBtn);
    transition: all .25s ease;
}

div.loginContainer.show>form>div.activeAfter::after {
    transform: scaleX(1) !important;
}

div.loginContainer.show>form>div>label {
    position: absolute;
    line-height: 1;
    left: 0;
    bottom: 8px;
    font-size: 14px;
}

div.loginContainer.show>form>div>label.focused {
    bottom: calc(100% + 3px);
    transform: translateY(100%);
    font-size: 12px;
    color: var(--hoverBtn);
}

div.loginContainer.show>form>div>i.showPass {
    position: absolute;
    right: 5px;
    bottom: 6px;
    line-height: 1;
    font-size: 16px;
    cursor: pointer;
    color: var(--primaryBtn);
}

div.loginContainer.show>form>div>i.showPass {
    color: var(--hoverBtn);
}

div.loginContainer.show>form>button {
    margin-top: 10px;
    width: 100%;
    padding: .5rem 1rem;
    border-radius: 0;
    background-color: var(--primaryBtn);
    color: var(--light);
    cursor: pointer;
}

div.loginContainer.show>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    color: var(--primaryBtn);
}

div.loginContainer.show>div>button {
    background-color: unset;
    border: unset;
    cursor: pointer;
}

div.loginContainer.show>div>button:hover {
    color: var(--hoverBtn);
}

div.loginContainer.show>div>a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

div.loginContainer.show>div>a:hover {
    color: var(--hoverBtn);
}

/* submenu code */
ul.hB-Menu>li:hover>div.submenu {
    display: flex !important;
    animation: fadeIn .5s;
}

div.submenu {
    position: absolute;
    z-index: 900;
    left: -48px;
    padding: 0 48px 56px;
    top: 100%;
    width: calc(100% + 96px);
    background-color: var(--light);
    flex-direction: column;
    font-family: var(--FixelText);
    animation: fadeOutWithDisplay .5s forwards;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

ul.submenuTop {
    border-top: 2px solid var(--primaryBtn);
    padding-top: 32px;
    display: flex;
    width: 100%;
}

ul.submenuTop>li {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

ul.submenuTop>li>span {
    color: var(--primaryBtn);
    line-height: 2;
}

ul.submenuTop>li>a {
    text-decoration: none;
    color: var(--primaryBtn);
    line-height: 2;
}

ul.submenuTop>li>a:hover {
    color: var(--hoverBtn);
}

ul.submenuTop>li.justLastSubmenu {
    flex-grow: 0;
}

ul.submenuTop>li.lastSubmenu {
    flex-grow: 0;
}

ul.submenuTop>li.lastSubmenu>a {
    color: var(--hoverBtn);
}

ul.submenuTop>li.lastSubmenu>a>img {
    margin-top: 16px;
    min-width: 100px;
    width: 40vw;
    max-width: 250px;
}

div.subSubmenu {
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.subSubmenu>span {
    color: var(--primaryBtn);
    font-size: 16px;
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
    line-height: 2;
    width: max-content;
}

div.subSubmenu>span:hover {
    color: var(--hoverBtn);
}

div.subSubmenu>span>i {
    font-size: 12px;
}

div.subSubmenu>span.active {
    color: var(--hoverBtn);
}

div.subSubmenu>span.active>i {
    transform: rotate(180deg);
}

ul.ssMenu {
    list-style: none;
    padding-left: 10px;
    height: 0;
    overflow: hidden;
    transition: none !important;
}

ul.ssMenu.active {
    height: max-content;
    transition: none !important;
}

ul.ssMenu>li {
    height: max-content;
}

ul.ssMenu>li>a {
    display: block;
    text-decoration: none;
    color: var(--primaryBtn);
    line-height: 2;
    font-size: 14px;
}

ul.ssMenu>li>a:hover {
    color: var(--hoverBtn);
}

div.submenuBottom {
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.submenuBottom>a {
    display: block;
    width: max-content;
}

/* slider */
div.sliderContainer {
    margin: 60px 0 32px;
    width: 100%;
    padding-left: var(--containerPadding);
    padding-right: var(--containerPadding);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    position: relative;
}

div.slider {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    opacity: 0;
}

div.slider.active {
    opacity: 1;
}

div.slider>a {
    width: 100%;
    display: block;
}

div.slider>a>img {
    width: 100%;
    height: auto;
}

div.sliderNavigation>i {
    color: var(--light);
    font-size: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    cursor: pointer;
}

div.sliderNavigation>i:nth-child(1) {
    left: calc(var(--containerPadding) + 10px);
}

div.sliderNavigation>i:nth-child(2) {
    right: calc(var(--containerPadding) + 10px);
}

div.sliderNavigation>i:hover {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .4));
}

div.sliderContainer:hover>div.sliderNavigation>i {
    opacity: 1;
}

div.sliderPagination {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

div.sliderPagination>span {
    width: 12px;
    height: 12px;
    background-color: var(--light);
    border: 1px solid var(--primaryBtn);
    border-radius: 100px;
    cursor: pointer;
}

div.sliderPagination>span:hover {
    background-color: var(--primaryBtn);
    border-color: var(--light);
}

div.sliderPagination>span.active {
    width: 20px;
    background-color: var(--primaryBtn);
    border-color: var(--light);
}


/* products slider */
div.productSlider {
    width: 100%;
    background-color: var(--light);
    padding-left: var(--containerPadding);
    padding-right: var(--containerPadding);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: var(--FixelText);
    color: var(--primaryBtn);
}

div.pSliderHeader {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-bottom: 32px;
}

div.pSliderHeader>h3 {
    font-size: 28px;
    font-weight: 400;
}

div.pSliderNavigation {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}

div.pSliderNavigation>span {
    color: var(--primaryBtn);
    cursor: pointer;
    outline: none;
}

div.pSliderNavigation>span.swiper-button-disabled {
    color: var(--disActiveColor);
    cursor: not-allowed;
}

div.pSliderBody {
    width: 100%;
    position: relative;
    overflow: hidden;
}

div.sliderBodyContainer {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.pSlider {
    width: 23%;
    min-width: 290px;
    max-width: 350px;
    display: flex;
    flex-direction: column;

}

a.pSliderTop {
    width: 100%;
    position: relative;
    background-color: var(--secondaryBg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 32px;
}

a.pSliderTop>img {
    width: 90%;
    aspect-ratio: 1/1;
    object-fit: contain;
    mix-blend-mode: multiply;
}

a.pSliderTop>span.new {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: var(--primaryBtn);
    color: var(--secondaryBg);
    font-size: 12px;
    line-height: 1;
    padding: 5px;
    text-transform: uppercase;
}

a.pSliderTop>div.like {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    background-color: var(--light);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.pSliderTop:hover>div.like {
    opacity: 1;
}

a.pSliderTop>div.like>i::before {
    transition: all .25s linear;
    line-height: 1;
}

div.pSliderBottom {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

div.pSliderHeading {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: var(--primaryBtn);
}

div.pSliderHeading>a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    margin: 16px 20px 0 0;
    line-height: 1;
}

div.pSliderHeading>a:hover {
    color: var(--hoverBtn);
}

div.pSliderHeading>span {
    line-height: 1;
    font-size: 14px;
    color: var(--lightText);
}

div.pSliderRating {
    display: flex;
    flex-direction: column;
}

div.pSliderStars {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 12px;
    align-items: center;
    color: var(--primaryBtn);
}

div.pSliderStars>span {
    font-size: 12px;
    line-height: 1;
}

div.pSliderStars>a.pSliderVotes {
    line-height: 1;
    font-size: 14px;
    margin-left: 7px;
    display: block;
    font-size: 200;
    font-family: var(--Jost);
    color: inherit;
    text-decoration: none;
}

div.pSliderStars>a.pSliderVotes:hover {
    color: var(--hoverBtn);
}

div.pSliderRating>span.pSliderPrice {
    font-size: 14px;
    margin-top: 6px;
    font-family: var(--Jost);
    font-weight: 300;
    line-height: 2;
}

div.pSliderButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    opacity: 0;
    transform: translateY(50px);
}

div.pSliderButtons>button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 10px;
    line-height: 3;
    cursor: pointer;
}

div.pSliderButtons>button.pSliderDescription {
    background-color: transparent;
    color: var(--primaryBtn);
    border: 1px solid var(--primaryBtn);
}

div.pSliderButtons>button.pSliderBuy {
    background-color: var(--primaryBtn);
    border: unset;
    color: var(--lightText);
}

div.pSliderButtons>button.pSliderBuy:hover {
    background-color: var(--primaryBtnLightened);
}

div.pSlider:hover div.pSliderButtons {
    opacity: 1;
    transform: translateY(0);
}

/* swiper */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}